body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
   
    
}

.Pcont{
    background-image: url(https://i.pinimg.com/originals/63/5e/a2/635ea2356b9e223098909e2ed31af2fe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header,footer{
    background-color:black;
    background-position: center;
    border-radius: 4px;
}

footer{
    display: flex;
    justify-content: space-around;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color:lightskyblue;
    text-shadow: 0 0 0 5px lightgreen;
    font-family: 'Creepster', cursive;
    text-align: center;
    width: 500px;
    border-radius: 4px;
    font-size: 70px;
   
   
}


.Scont{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1300px;

}

.contenedor{
    color: black;
    width: 90%;
    height: 90%;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    flex-wrap:wrap ;

}

.uno h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:rgb(19, 7, 73) ;
    background-color: rgba(173, 216, 230, 0.651);
}

.info{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: cursive;
    font-size: 20px;
    background-color: rgba(62, 59, 78, 0.815);
    text-align: center;
    color: lightgray;
    border-radius: 5px;
    width: 1000px;
    height: 70%;
}

.lista{
    border-top: 3px solid rgb(214, 214, 214);
    height: 50px;
    background-color: rgba(77, 19, 143, 0.877);
}
ul{
    display: flex;
    justify-content: space-around;
    outline: steelblue;
    align-items: center;
}

li{
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 200px;
    height: 30px;
    text-align: center;
    list-style: none;

    
}

a{
    display: block;
    text-decoration: none;
    color:rgb(231, 225, 224) ;
}

a:hover{
    color: rgb(255, 97, 111);
}

.imagen{
    display: flex;
    width: 300px;

}

.img{
    width: 300px;
}

.titulo{
    width: 600px;
    background-color: black;
}

.juntos{
    display: flex;
    justify-content: space-between;
}

.info-img img{
    display: flex;
    text-align: center;
    outline: 5px solid blueviolet;
    width: 500px;
}

/*PERSONAJES.HTML*/

.contT{
    height: 3000px;
   background-color: sandybrown;
    display: flex;
    justify-content: center;
}

.contP{
   display: flex;
   justify-content: center;
   
   height: 3000px;
}

.contS{
    width: 80%;
   
    background-color: black;
    display : flex;

    justify-content: center;

}

.contC{
    width: 85%;
    outline: 5px solid blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

   
    
}

.infor{
    color: black;
    background-color: rgb(104, 41, 187);
    border-radius: 5px;
    height: 18%;
    width: 75%;
    font-family: cursive;
    text-align: center;
   

}



.personaje{
    
    height: 16%;
    width: 30%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    outline: 5px solid gray;
}

.personaje img{
    
    width: 160px;
    height: 200px ;
    margin-top: 20px;
    border-radius: 10px;
    border: 10px solid rgba(0, 255, 255, 0.938);
   
}
.imgp{
    width: 160px;
    height: 60%;
    
}
